<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522843723168-75rt87pl7bvev0k7fsqrtlhuci6uhj51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522843723168-75rt87pl7bvev0k7fsqrtlhuci6uhj51</string>
	<key>API_KEY</key>
	<string>AIzaSyBXJaJ-yuK-bkTLzw-XpkfHTWBjoq4Iquo</string>
	<key>GCM_SENDER_ID</key>
	<string>522843723168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blessing.flutter.sso</string>
	<key>PROJECT_ID</key>
	<string>sesothobible-5115f</string>
	<key>STORAGE_BUCKET</key>
	<string>sesothobible-5115f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522843723168:ios:021dc5145856c3366f00c5</string>
</dict>
</plist>